@import "styles/mixins.scss";
@import "styles/color-spectrum.scss";
@import "styles/base-theme.scss";
@import "styles/tailwind-directives.scss";

:root {
  --primary-100: var(--periwinkle-100);
  --primary-200: var(--periwinkle-200);
  --primary-300: var(--periwinkle-300);
  --primary-400: var(--periwinkle-400);
  --primary-500: var(--periwinkle-500);
  --primary-600: var(--periwinkle-600);
  --primary-700: var(--periwinkle-700);
  --primary-800: var(--periwinkle-800);
  --primary-900: var(--periwinkle-900);
  --primary-900: var(--periwinkle-900);
  --primary-1000: var(--periwinkle-1000);
  --primary-1100: var(--periwinkle-1100);
  --primary-1200: var(--periwinkle-1200);
  --primary-1300: var(--periwinkle-1300);

  --base-100: var(--pearl-100);
  --base-200: var(--pearl-200);
  --base-300: var(--pearl-300);
  --base-400: var(--pearl-400);
  --base-500: var(--pearl-500);
  --base-600: var(--pearl-600);
  --base-700: var(--pearl-700);
  --base-800: var(--pearl-800);
  --base-900: var(--pearl-900);
  --base-1000: var(--pearl-1000);
  --base-1100: var(--pearl-1100);
  --base-1200: var(--pearl-1200);
  --base-1300: var(--pearl-1300);

  --bg: var(--base-100);
  --color: var(--base-1300);
  @include dark {
    --bg: var(--base-1300);
    --color: var(--base-100);
  }
}

body {
  background: var(--bg);
  color: var(--color);
}
