$shade-map: (
  "100",
  "200",
  "300",
  "400",
  "500",
  "600",
  "700",
  "800",
  "900",
  "1000",
  "1100",
  "1200",
  "1300"
);

$h-map: (
  // neutral colors
  "grey": 0,

  // accent colors
  "plum": 328,
  "mist": 195,
  "pearl": 282,
  "jade": 185,
  "rust": 48,
  "aubergine": 325,
  "mahogany": 16,
  "olive": 130,

  // primary/theme colors
  "magenta": 328,
  "cyan": 195,
  "cyenta": 282,
  "teal": 185,
  "deep-orange": 48,
  "fuchsia": 325,
  "rose": 16,
  "lime": 130,

  // status colors
  "emerald": 155,
  "sky": 230,
  "amber": 70,
  "red": 30
);

$l-map: (
  "100": /* */ 98.5%,
  //            2.0,
  "200": /* */ 96.5%,
  //            3.5,
  "300": /* */ 93%,
  //            5.0,
  "400": /* */ 86%,
  //           13.0,
  "500": /* */ 73%,
  //           11.0,
  "600": /* */ 62%,
  //           11.0,
  "700": /* */ 51%,
  //            7.0,
  "800": /* */ 44%,
  //            6.0,
  "900": /* */ 38%,
  //           11.0,
  "1000": /**/ 27%,
  //            7.0,
  "1100": /**/ 20%,
  //            4.0,
  "1200": /**/ 16%,
  //            2.0,
  "1300": /**/ 14%,
);

$neutral-chroma-map: (
  "100": /* */ 0,
  "200": /* */ 0,
  "300": /* */ 0,
  "400": /* */ 0,
  "500": /* */ 0,
  "600": /* */ 0,
  "700": /* */ 0,
  "800": /* */ 0,
  "900": /* */ 0,
  "1000": /**/ 0,
  "1100": /**/ 0,
  "1200": /**/ 0,
  "1300": /**/ 0,
);

$accent-chroma-map: (
  "100": /* */ 0.02,
  "200": /* */ 0.02,
  "300": /* */ 0.02,
  "400": /* */ 0.02,
  "500": /* */ 0.02,
  "600": /* */ 0.02,
  "700": /* */ 0.02,
  "800": /* */ 0.02,
  "900": /* */ 0.02,
  "1000": /**/ 0.02,
  "1100": /**/ 0.02,
  "1200": /**/ 0.02,
  "1300": /**/ 0.02,
);

$muted-chroma-map: (
  "100": /* */ 0.02,
  "200": /* */ 0.02,
  "300": /* */ 0.02,
  "400": /* */ 0.02,
  "500": /* */ 0.02,
  "600": /* */ 0.02,
  "700": /* */ 0.02,
  "800": /* */ 0.02,
  "900": /* */ 0.02,
  "1000": /**/ 0.02,
  "1100": /**/ 0.02,
  "1200": /**/ 0.02,
  "1300": /**/ 0.02,
);

$vibrant-chroma-map: (
  "100": /* */ 0.02,
  "200": /* */ 0.04,
  "300": /* */ 0.08,
  "400": /* */ 0.15,
  "500": /* */ 0.18,
  "600": /* */ 0.23,
  "700": /* */ 0.27,
  "800": /* */ 0.25,
  "900": /* */ 0.22,
  "1000": /**/ 0.19,
  "1100": /**/ 0.16,
  "1200": /**/ 0.12,
  "1300": /**/ 0.09,
);

$chroma-map: (
  // neutral colors
  "grey": $neutral-chroma-map,

  // accent colors
  "plum": $accent-chroma-map,
  "mist": $accent-chroma-map,
  "rust": $accent-chroma-map,
  "pearl": $accent-chroma-map,
  "jade": $accent-chroma-map,
  "aubergine": $accent-chroma-map,
  "mahogany": $accent-chroma-map,
  "olive": $accent-chroma-map,

  // primary colors
  "magenta": $neutral-chroma-map,
  "cyan": $neutral-chroma-map,
  "deep-orange": $neutral-chroma-map,
  "cyenta": $neutral-chroma-map,
  "teal": $neutral-chroma-map,
  "fuchsia": $neutral-chroma-map,
  "rose": $neutral-chroma-map,
  "lime": $neutral-chroma-map,
  "emerald": $neutral-chroma-map,
  "sky": $neutral-chroma-map,
  "amber": $neutral-chroma-map,
  "red": $neutral-chroma-map
);

:root {
  @each $color, $chroma in $chroma-map {
    @each $shade in $shade-map {
      --#{$color}-#{$shade}: oklch(
        #{map-get($l-map, $shade)}
          #{map-get($chroma, $shade)}
          #{map-get($h-map, $color)}
      );
    }
  }
}
