$shade-map: (
  "100",
  "200",
  "300",
  "400",
  "500",
  "600",
  "700",
  "800",
  "900",
  "1000",
  "1100",
  "1200",
  "1300"
);

$h-map: (
  // neutral colors
  "grey": 0,

  // accent colors
  "plum": 328,
  "mist": 195,
  "pearl": 282,
  "jade": 185,
  "rust": 48,
  "aubergine": 325,
  "mahogany": 16,
  "olive": 130,

  // vibrant colors
  "magenta": 328,
  "cyan": 195,
  "periwinkle": 282,
  "teal": 185,
  "deep-orange": 48,
  "fuchsia": 325,
  "rose": 16,
  "lime": 130,
  "emerald": 155,
  "sky": 230,
  "red": 30
);

$l-map: (
  "100": /* */ 98.5%,
  //            2.0,
  "200": /* */ 96.5%,
  //            3.5,
  "300": /* */ 93%,
  //            5.0,
  "400": /* */ 86%,
  //           13.0,
  "500": /* */ 73%,
  //           11.0,
  "600": /* */ 62%,
  //           11.0,
  "700": /* */ 51%,
  //            7.0,
  "800": /* */ 44%,
  //            6.0,
  "900": /* */ 38%,
  //           11.0,
  "1000": /**/ 27%,
  //            6.0,
  "1100": /**/ 21%,
  //            4.0,
  "1200": /**/ 17%,
  //            4.0,
  "1300": /**/ 13%,
);

$vibrant-chroma-map: (
  "100": /* */ 0.02,
  "200": /* */ 0.06,
  "300": /* */ 0.12,
  "400": /* */ 0.18,
  "500": /* */ 0.21,
  "600": /* */ 0.24,
  "700": /* */ 0.21,
  "800": /* */ 0.18,
  "900": /* */ 0.15,
  "1000": /**/ 0.1,
  "1100": /**/ 0.07,
  "1200": /**/ 0.04,
  "1300": /**/ 0.02,
);

$muted-chroma-map: (
  "100": /* */ 0.02,
  "200": /* */ 0.03,
  "300": /* */ 0.06,
  "400": /* */ 0.09,
  "500": /* */ 0.1,
  "600": /* */ 0.1,
  "700": /* */ 0.1,
  "800": /* */ 0.09,
  "900": /* */ 0.07,
  "1000": /**/ 0.05,
  "1100": /**/ 0.03,
  "1200": /**/ 0.02,
  "1300": /**/ 0.02,
);

$accent-chroma-map: (
  "100": /* */ 0.02,
  "200": /* */ 0.02,
  "300": /* */ 0.02,
  "400": /* */ 0.02,
  "500": /* */ 0.02,
  "600": /* */ 0.02,
  "700": /* */ 0.02,
  "800": /* */ 0.02,
  "900": /* */ 0.02,
  "1000": /**/ 0.02,
  "1100": /**/ 0.02,
  "1200": /**/ 0.02,
  "1300": /**/ 0.02,
);

$neutral-chroma-map: (
  "100": /* */ 0,
  "200": /* */ 0,
  "300": /* */ 0,
  "400": /* */ 0,
  "500": /* */ 0,
  "600": /* */ 0,
  "700": /* */ 0,
  "800": /* */ 0,
  "900": /* */ 0,
  "1000": /**/ 0,
  "1100": /**/ 0,
  "1200": /**/ 0,
  "1300": /**/ 0,
);

$chroma-map: (
  // neutral colors
  "grey": $neutral-chroma-map,

  // accent colors
  "plum": $accent-chroma-map,
  "mist": $accent-chroma-map,
  "rust": $accent-chroma-map,
  "pearl": $accent-chroma-map,
  "jade": $accent-chroma-map,
  "aubergine": $accent-chroma-map,
  "mahogany": $accent-chroma-map,
  "olive": $accent-chroma-map,

  // vibrant colors
  "magenta": $vibrant-chroma-map,
  "cyan": $vibrant-chroma-map,
  "deep-orange": $vibrant-chroma-map,
  "periwinkle": $vibrant-chroma-map,
  "teal": $vibrant-chroma-map,
  "fuchsia": $vibrant-chroma-map,
  "rose": $vibrant-chroma-map,
  "lime": $vibrant-chroma-map,
  "emerald": $vibrant-chroma-map,
  "sky": $vibrant-chroma-map,
  "red": $vibrant-chroma-map
);

// Yellowish colors are a special case because
// their maximum chroma at lower shades is poor.
// Humans are bad at perceiving yellow at low lightness
// so we twist the hue towards orange to compensate.
$amber-shade-hue-map: (
  "100": /*  */ 95,
  "200": /*  */ 95,
  "300": /*  */ 95,
  "400": /*  */ 95,
  "500": /*  */ 90,
  "600": /*  */ 80,
  "700": /*  */ 70,
  "800": /*  */ 65,
  "900": /*  */ 60,
  "1000": /* */ 55,
  "1100": /* */ 55,
  "1200": /* */ 55,
  "1300": /* */ 55,
);

:root {
  @each $shade in $shade-map {
    @each $color, $chroma in $chroma-map {
      --#{$color}-#{$shade}: oklch(
        #{map-get($l-map, $shade)}
          #{map-get($chroma, $shade)}
          #{map-get($h-map, $color)}
      );
    }

    // handle amber separately
    --amber-#{$shade}: oklch(
      #{map-get($l-map, $shade)}
        #{map-get($vibrant-chroma-map, $shade)}
        #{map-get($amber-shade-hue-map, $shade)}
    );
  }
}
